<component name="libraryTable">
  <library name="spring-aop-5.1.4.RELEASE-javadoc">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-aop-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-aspects-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-beans-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-context-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-context-indexer-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-context-support-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-core-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-expression-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-instrument-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-jcl-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-jdbc-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-jms-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-messaging-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-orm-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-oxm-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-test-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-tx-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-web-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-webflux-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-webmvc-5.1.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-websocket-5.1.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-aop-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-aspects-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-beans-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-context-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-context-indexer-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-context-support-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-core-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-expression-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-instrument-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-jcl-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-jdbc-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-jms-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-messaging-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-orm-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-oxm-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-test-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-tx-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-web-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-webflux-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-webmvc-5.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-websocket-5.1.4.RELEASE-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-aop-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-aspects-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-beans-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-beans-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-context-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-context-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-context-indexer-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-context-support-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-core-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-core-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-expression-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-instrument-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-jcl-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-jdbc-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-jdbc-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-jms-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-messaging-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-orm-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-oxm-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-test-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-test-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-tx-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-web-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-web-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-webflux-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-webflux-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-webmvc-5.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras/spring-websocket-5.1.4.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>