<component name="libraryTable">
  <library name="spring jar files pildoras">
    <CLASSES>
      <root url="file://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras" />
    </SOURCES>
    <jarDirectory url="file://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras" recursive="false" />
    <jarDirectory url="file://$USER_HOME$/Downloads/spring_jar_files_pildoras/spring jar files pildoras" recursive="false" type="SOURCES" />
  </library>
</component>